<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/dados.css">
    <title>Document</title>
</head>
<body>
    

    <section>
        <div>
            <div class="titulo">
                <h2>
                    ESSE É O NÚMERO DE PCD’S CADASTRADOS ATUALMENTE:
                    <h1>{{quantidade}}</h1>
                </h2>
            </div>
        </div>

        <div></div>
    </section>


</body>
</html>