<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>HOME</title>
</head>

<body>
    <header class="container">
        <div>
            <img class="img-logo" src="/assets/logo-integrador.png" alt="Logo">
        </div>
        <div class="box-btn">
            <buttonclass="btn-entrar"><a href="/inclusion/dados">PCD’S</a></button>
                <button id="btnLogin" class="btn-entrar">Entrar</button>
        </div>
    </header>

    <section class="body-img">
        <div class="info">
            <h2>
                Sistema de cadastro <br> online, para uma <br> cidade mais inclusiva:
            </h2>
            <p>
                Administração pública facilitada, suprindo a necessidade <br> de pessoas PCD’s.
            </p>
            <div class="box-cadas">
                <button class="btn-cadastro" id="btn">
                    Cadastre-se
                </button>
            </div>
        </div>
    </section>


    {{!-- Quem somos nos? --}}
    <section class="showWe sobre-nos">  </section>


    {{!-- Modlal Cadastro --}}


    <div class="box-modal" id="modal">
        <div class="modal">
            <span id="close">Close</span>
            <h2>Cadastrar PCD</h2>
            <form action="/inclusion/home" method="post">
                <div>
                    <input type="text" name="nome" placeholder=" Digite seu nome completo">
                </div>
                <div>
                    <input type="text" name="email" placeholder=" email">
                </div>
                <div>
                    <input type="text" name="cpf" placeholder=" CPF">
                </div>
                <div>
                    <input type="text" name="descricao" placeholder=" Descreva a sua deficiência">
                </div>
                <div>
                    <input type="text" name="dificuldade"
                        placeholder=" Digite aqui onde e quais são suas dificuldades:">
                </div>
                <!-- Enviar informações para o banco -->
                <div>
                    <a href=""><input id="submit-cadastro" type="submit" value="Cadastrar"></a>
                </div>
            </form>
        </div>
    </div>


    {{!-- Modlal Login --}}


    <div class="box-modal-login" id="modalLogin">
        <div class="modal-login">
            <span id="closeLogin">Close</span>
            <h2>Entrar na Conta</h2>
            <form action="">

                <div>
                    <input type="text" name="email" placeholder="  email">
                </div>
                <div>
                    <input type="text" name="senha" placeholder="  senha">
                </div>

                <!-- Enviar informações para o banco -->
                <div>
                    <a href=""><input id="submit-entrar" type="submit" value="Login"></a>
                </div>
            </form>
        </div>
    </div>



    <footer>
        @projeto.Integrador
    </footer>


    <script src="/script/app.js"></script>
    <script src="/script/mostrar.js"></script>
</body>

</html>