@import url('https://fonts.googleapis.com/css2?family=Kameron:wght@700&family=Roboto:wght@100;300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

*{  margin: 0; padding: 0; box-sizing: border-box; }
body{
    background: #071952; color: white ; }
    
/* Header */
header{width: 100%; height: 14vh; border-bottom: 2px solid white; }

.img-logo{ width: 9rem ;  margin: 13px 0px 0px 15px;}

.btn-entrar{
    border: 2px solid #97FEED;
    background-color: #071952;
    color: white; font-size: 1.3rem;
    border-radius: 14px; width: 7rem; height: 2.4rem;
}

.container{
    display: flex;
    flex-direction: row;
    gap: 4rem;
    padding-right: 10px;
    align-items:center ;
    justify-content: space-between;
}
a{color: white; text-decoration: none; padding: 5px;}

/* Imagem e informações  */
.body-img{
    /* Edicões do fundo */
    background-image: url("/assets/img2.jpg"); background-size: cover;
    width: 100%; height: 100vh;
    border-bottom: 2px solid white;

    /* Position */
    display: flex; flex-direction: column; justify-content: center; align-items: self-end;
}
.info h2{
    font-family: 'Kameron', serif; color: white; font-size: 4rem;
    text-shadow: 0.1em 0.1em 0.2em black;
}
.info p{
    font-family: arial; color: #35A29F; font-weight: bolder; font-size: 1.5rem;
    text-shadow: 0.1em 0.1em 0.2em black;
}
.info{
    margin-right: 5rem; margin-bottom: 6rem;
}


/* Sobre nos */

.sobre-nos{
    margin: 10px 10px 10px 10px; padding: 5px;
    font-size: 1.7rem; font-family: 'Kameron', serif;
}
.container-nos div{
    display:grid;  place-items: center;  width: 100%;
}
.container-nos{
    display: flex; flex-direction: row;

}

/* Botão de cadastro */

.btn-cadastro{
    border: 3px solid #35A29F;
    background-color: #ffd;
    color: #35A29F; font-size: 1.9rem;
    border-radius: 14px;
    width: 15rem; height: 3.3rem;
}
.btn-cadastro:hover{
    cursor: pointer; border: 3px solid #35A29F;  background-color: #35A29F; color: #ffd;
}
.box-cadas{
    margin-top: 1rem; display: flex; align-items: center; justify-content: center;
}

/* Footer */
footer{
    font-family: 'Kameron', serif; display: flex; align-items: center; justify-content: center; height: 10vh;
}


/* Modal Cadastro */

.box-modal{
    background-color: rgba(0, 0, 0, 0.501); width: 100%; height: 100%;

    position: fixed; z-index: 1;
    left: 0; top: 0;
    /* Flex-Box */ 
    display: none; align-items: center ; justify-content: center;
}
.modal{
    border: 4px solid #97FEED; background-color: #071952; border-radius: 10px;
    padding-left: 2rem;  padding-right: 1.9rem; 
    height: 90vh; 
    display: flex; flex-direction: column; align-items: center; justify-content: space-around;
}
.modal form{
    display: flex; flex-direction: column; gap: 2rem;
}
.modal input{
    border: none; background-color: #d9d9d975; color: #fff;
    font-size: 1rem; border-radius: 20px;
    width: 20rem; height: 3rem;

   
}
.modal input::placeholder{
    color: white;
    
}
.modal span{
    color: #97FEED; font-size: 1.3rem; font-family: 'Inter', sans-serif;
    cursor: pointer;
}
.modal span:hover{
    color: #cd1b1b;
    
}
#submit-cadastro{
    border: none; background-color: #97FEED; color: #000;
    font-size: 1rem; font-weight: bold; border-radius: 20px;
    width: 20rem; height: 3rem;
   
}

.modal h2{
    color: #97FEED;
    font-family: 'Inter', sans-serif;
}


/* Modal entrar */

.box-modal-login{
    background-color: rgba(0, 0, 0, 0.464);
    width: 100%; height: 100%;

    position: fixed; z-index: 1;
    left: 0; top: 0;

    /* Flex-Box */
    
    display: none; align-items: center ;  justify-content: center;
}
.modal-login{
    border: 4px solid #97FEED;  background-color: #071952;  border-radius: 10px;
    width: 58vh;  height: 30vw;
    display: flex; flex-direction: column; align-items: center; justify-content: space-around;
}
.modal-login form{
    display: flex; flex-direction: column; align-items: center; gap: 3rem;
}
.modal-login input{
    border: none;
    background-color: #d9d9d975; color: #fff;
    font-size: 1rem; border-radius: 20px;
    width: 20rem; height: 3rem;

   
}
.modal-login input::placeholder{
    color: white;
    
}
.modal-login span{
    color: #97FEED; font-size: 1.3rem;
    font-family: 'Inter', sans-serif; cursor: pointer;
}
.modal-login span:hover{
    color: #cd1b1b;
    
}
#submit-entrar{
    border: none;
    background-color: #97FEED; color: #000;
    font-size: 1rem; font-weight: bold;
    border-radius: 20px;
    width: 14rem;  height: 3rem;
   
}

.modal-login h2{
    color: #97FEED; font-family: 'Inter', sans-serif;
}


/* Responsividade */

@media (max-width: 600px) {
    /* Imagem e informações  */


.body-img{

    width: 100%; height: auto;

    /* Position */
    display: flex; align-items: end;  flex-direction: column;
}
/* Botão de cadastro */

.btn-cadastro{
    font-size: 1.5rem; border-radius: 14px;
    width: 10rem;  height: 3rem;
}
.info h2, .info p{font-size: 1.8rem; margin-left: 10px; margin-top: 1rem;}

.box-cadas{ margin-top: 1rem; display: flex;  align-items: center;  justify-content: center; }

.box-btn{display: flex; flex-direction: column;}

.container-nos{ 
    font-size: .8rem; gap: 1rem;
    display: flex; flex-direction: column;
}
.container-nos img{
    width: 100%; height: auto;
}
.modal{
    width: 89%;  height: 65%;
}
  }